<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <h1>Home</h1>

  <h2>Hello {{user.name}}!</h2>

  <a href="/logout">Log out</a>


  <div class="nav">
    <form class="search" action="/search" method="get">
      <input type="text" name="snippetsresults">
      <button>Search</button>
    </form>
  </div>




  <a class="button" href="/snippetsList">See all Snippets</a>

  <br>

  <div class="">
    {{#snippets}}
      <a href="/search?snippetsresults={{title}}">{{title}}</a>
    {{/snippets}}

    <form class="" action="/list/add" method="get">
      <button name="add">add</button>
    </form>
  </div>



</body>

</html>

<body>
