<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
   <h1>Login</h1>


    {{#if failed}}
    Login failed :(
    {{/if}}

    <form action="/login" method="post">
      Email: <input type="text" name="username" placeholder="Username" /><br />
      Password: <input type="password" name="password" placeholder="Password" /><br />
      <button>login</button> <a href="/register"><button>Create Account</button></a>
    </form>

  </body>
</html>
